# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
build/
.vite/
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db